body {
    background-color: black;
    color: green;
    font-family: monospace;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: black;
    color: green;
    font-family: monospace;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    padding: 40px;
    border: 1px solid green;
    border-radius: 5px;
    width: 160%;
    max-width: 800px;
    margin-bottom: 40px;
}

.terminal .prompt-text {
    color: green;
    text-align: left;
    margin-bottom: 20px;
    font-size: 2em;
}

.terminal input {
    background-color: black;
    color: green;
    border: none;
    outline: none;
    font-family: monospace;
    width: 100%;
    font-size: 2em;
}

.terminal input[type="text"] {
    display: none;
}
